<h1>Identification</h1>
<%= form_for(:session, :url => sessions_path) do |f| %>
  <div class="field">
    <%= f.label :email, "Email" %><br />
    <%= f.text_field :email, required: true %>
  </div>
  <div class="field">
    <%= f.label :password, "Mot de passe" %><br />
    <%= f.password_field :password, required: true%>
  </div>
  <div class="actions">
    <%= f.submit "S'identifier" %>
  </div>
<% end %>
<%= @error_message %>

<p>Pas encore inscrit ? <%= link_to "S'inscrire !", "/inscription"  %></p>