<h1>Index</h1>

<ul>
  <% @profil.each do |profil| %>
    <li>
      <a href="/profil?user_name=<%= profil.username %>">
        <%= profil.username %>
      </a>
    </li>
  <% end %>
</ul>


<%= link_to "Inscription", "/inscription" %>


<%= link_to "Recette random", "/recipe_random" %>


<%= link_to "Recette random week", "/recipe_week" %>