<h1><%= @user.username%></h1>

<% if cookies.permanent.signed[:remember_token][0] == params[:id].to_i %>
  <%= link_to "Nouvelle Recette", "/recipe?id="+params[:id] %>

  <%= link_to "Déconnexion", "sessions/destroy"  %>
  <ul>
    <% @favorites.each do |fav| %>
      <li>
          <%= fav.id %>
      </li>
    <% end %>
  </ul>
<%end%>
<%= link_to "Home", "/home"  %>
<ul>
  <% @recipes.each do |recipe| %>
    <li>
    <%= link_to recipe.label, "/recipe/"+recipe.id.to_s %>
    </li>
  <% end %>
</ul>




