<%= render "layouts/header" %>
<% if cookies.permanent.signed[:remember_token] %>
  <% if cookies.permanent.signed[:remember_token][0] == params[:id] %>
  
  <h3 class="text-center">Mes favoris</h3>
  <section class="home-recipes">
    <% @recipe_favorites.each do |recipe| %>
      <div class="card card-recipe">
      
        <div>
          <img class="img-recipe" src="<%= recipe.url %>"/>
        </div>
        
        <h4><%= recipe.label %></h4>
        <hr>
        <div class="card-recipe-ingredient">
          <i class="fas fa-book-open"></i>
          <%= recipe.recipe_ingredients.count %> ingredients
        </div>
        <hr>
        <p><%= recipe.description %></p>
        <%= link_to "View Recipe", {controller: "recipe", action: "show", id: recipe.id}, class: 'btn btn-primary' %>
        </div>
    <% end %>
  </section>

<%end%>
<%end%>

<h3 class="text-center">Mes recettes</h3>
<section class="home-recipes">

  <% @recipes.each do |recipe| %>
    <div class="card-recipe">
      <div>
        <img class="img-recipe" src="<%= recipe.url %>"/>
      </div>

      <h4><%= recipe.label %></h4>
      <hr>
      <div class="card-recipe-ingredient">
        <i class="fas fa-book-open"></i>
        <%= @recipeIngredients.where(recipe_id: recipe.id).length %> ingredients
      </div>
      <hr>
      <p><%= recipe.description %></p>
      <%= link_to "View Recipe", {controller: "recipe", action: "show", id: recipe.id}, class: 'btn btn-primary' %>
      <br><br>
      <% if cookies.permanent.signed[:remember_token] %>
        <% if cookies.permanent.signed[:remember_token][0] == params[:id] %>
          <%= link_to "Delete Recipe", {controller: "recipe", action: "delete", id: recipe.id}, class: 'btn btn-danger' %>
        <%end %>
      <%end %>
    </div>
  <% end %>
  
</section>


