<h1>Nouvelle Recette </h1>

<%= form_with model: @recipe, url: '/traitement_recipe' do |form| %>
  
  <%= form.label :label, "Temps de préparation" %>
  <%= form.number_field :temps_prepa_h_field, step: 1 %>
  <%= form.label :label, "h" %>
  <%= form.number_field :temps_prepa_m_field, step: 1 %>

  <br>

  <%= form.label :label, "Temps de cuisson" %>
  <%= form.number_field :temps_cuisson_h_field, step: 1 %>
  <%= form.label :label, "h" %>
  <%= form.number_field :temps_cuisson_m_field, step: 1 %>

  <br>

  <%= form.label :label, "Temps de repos" %>
  <%= form.number_field :temps_repos_h_field, step: 1 %>
  <%= form.label :label, "h" %>
  <%= form.number_field :temps_repos_m_field, step: 1 %>

  <br><br>

  <h1>Catégorie</h1>

  <%= form.button "Végétarien" %>
  <%= form.button "Végétalien" %>
  <%= form.button "Sans glutten" %>
  <%= form.button "Fléxitarien" %>
  <%= form.button "Végan" %>
  <%= form.button "Viande" %>
  <%= form.button "Poisson" %>

  <br><br>

  <h1>Ingrédient</h1>

  <% (1..6).each do |n| %>
    <%= form.label :label, "Quantité" %>
    <%= form.number_field :"quantity_#{n}", step: 0.1 %>

    <%= form.label :label, "Mesure" %>
    <%= form.select :"mesure_#{n}", @mesures %>

    <%= form.label :label, "Ingrédient" %>
    <%= form.select :"ingredient_#{n}", @tab_ingredients %>

    <br>
  <% end %>

  <h1>Etapes</h1>

  <% (1..4).each do |n| %>
    <%= form.label :label, "Etape " + n.to_s %>
    <br>
    <%= form.text_area :"etape_#{n}", size: "50x5" %>
    <br>
  <% end %>

  <%= form.label :label, "Description" %>
  <%= form.text_area :description, size: "50x5" %>

  <%= form.submit %>
<% end %>