<h1>Random week</h1>
<%= render "layouts/header" %>

<div class="table-responsive">
    <table class="table">
        <tr><td colspan="7" style="text-align:center; font-size: 20px;">Nom de la recette</td></tr>

        <tr>
            <% @recipes.each do |recipe| %>
                <td style="width:14%;"><%= link_to recipe.label, "/recipe/"+recipe.id.to_s %></td>
            <% end %>		
        </tr>

        <tr><td colspan="7" style="text-align:center; font-size: 20px;">Ingredient</td></tr>

        <tr>
        <% @recipes.each do |recipe| %>
            <td style="width:14%;"> 
            <% @recipe_ingredients.each do |recipe_ingredient| %>
                <% if recipe_ingredient.recipe_id == recipe.id %> 
                    <%= "-" %>
                    <%= recipe_ingredient.ingredient.name %>
                    <strong>
                        <%= recipe_ingredient.quantity %>
                        <%= recipe_ingredient.unity %>
                    </strong>
                    <br>
                <% end %>
            <% end %>
            </td>
        <% end %>	
        </tr>
    </table>
</div>