<h1>Random week</h1>
<%= render "layouts/header" %>

<table border="1px">
    <tr><td colspan="7" style="text-align:center; font-size: 20px;">Nom</td></tr>

    <tr>
        <% @recipes.each do |recipe| %>
            <td><%= link_to recipe.label, "/recipe/"+recipe.id.to_s %></td>
        <% end %>		
    </tr>

    <tr><td colspan="7" style="text-align:center; font-size: 20px;">Ingredient</td></tr>

    <tr>
    <% @recipes.each do |recipe| %>
        <td>
        <% @recipe_ingredients.each do |recipe_ingredient| %>
            <% if recipe_ingredient.recipe_id == recipe.id %> 
                <li>
                    <%= recipe_ingredient.ingredient.name %>
                    <%= recipe_ingredient.quantity %>
                    <%= recipe_ingredient.unity %>
                </li>
            <% end %>
        <% end %>
        </td>
    <% end %>	
    </tr>
</table>