<img src=<%= @recipe.url %> height=250 />
<h1><%= @recipe.label %></h1>
<h2><%= @recipe.description %></h2>

<% if @favorites.length === 0 %>
  <%= link_to "Ajoutez aux favoris", favorite_recipe_path(@recipe, type: "favorite"), method: :put %>
<% else %>
  <%= link_to "Supprimez des favoris", favorite_recipe_path(@recipe, type: "unfavorite"), method: :delete %>
<% end %>

<br>
<br>

<b>Pour le faire, il te faut :</b>

<br>

<% @recipeIngredients.each do |recipeIngredient| %>
    <p> - <%= recipeIngredient.quantity %> <%= recipeIngredient.unity %>

        <% @ingredients.where(id: recipeIngredient.ingredient_id).each do |ingredient| %>
            <%= ingredient.name %>
        <% end %>

    </p>

<% end %>

<b>Pour le faire, il te faut :</b>

<% @steps.each_with_index  do |step, index| %>
    <p> Step <%= index+1 %> :
        <%= step.description %>
    </p>

<% end %>

